<footer id="sousmenu" class="">
	<span class="close" onclick="$('#sousmenu').removeClass('active')">x</span>			
	<h3 class=""><%= locals.value.object._all_menu_gauche.menuS.h3 %></h3>			
	<div class="sousmenu-share">
		<h4 class=""><%= locals.value.object._all_menu_gauche.menuS.share_h4 %></h4>			
		<div class="">
			<h5 class=""><%= locals.value.object._all_menu_gauche.menuS.share_h5 %></h5>		
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien0.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien0.title %>" class="" data-link="facebook"><i class="icon facebook"></i></a>			
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien1.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien1.title %>" class="" data-link="twitter"><i class="icon twitter"></i> </a>
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien2.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien2.title %>" class="" data-link="google+"><i class="icon google"></i></a>
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien3.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien3.title %>" class="" data-link="email"><i class="glyphicon glyphicon-envelope"></i></a>
		</div>			
		<div class="">
			<h5 class=""><%= locals.value.object._all_menu_gauche.menuS.share_h5_ %> : <span class="page_en_cours">jesus-chrsit.tv/.html#!</span></h5>		
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien0_.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien0_.title %>" class="" data-link="facebook"><i class="icon facebook"></i></a>			
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien1_.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien1_.title %>" class="" data-link="twitter"><i class="icon twitter"></i> </a>
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien2_.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien2_.title %>" class="" data-link="google+"><i class="icon google"></i></a>
			<a href="<%= locals.value.object._all_menu_gauche.menuS.share_lien3_.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.share_lien3_.title %>" class="" data-link="email"><i class="glyphicon glyphicon-envelope"></i></a>
		</div>		
	</div>
	<div class="sousmenu-droits">
		<h4 class=""><%= locals.value.object._all_menu_gauche.menuS.droits_h4 %></h4>	
		<a href="<%= locals.value.object._all_menu_gauche.menuS.droits_lien0.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.droits_lien0.title %>" class="" data-link=""><i class="icon asterisk"></i> <%= locals.value.object._all_menu_gauche.menuS.droits_lien0.html %></a>			
		<a href="<%= locals.value.object._all_menu_gauche.menuS.droits_lien0.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.droits_lien1.title %>" class="" data-link=""><i class="icon asterisk"></i> <%= locals.value.object._all_menu_gauche.menuS.droits_lien1.html %></a>			
		<a href="<%= locals.value.object._all_menu_gauche.menuS.droits_lien0.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.droits_lien2.title %>" class="" data-link=""><i class="icon asterisk"></i> <%= locals.value.object._all_menu_gauche.menuS.droits_lien2.html %></a>			
	</div>	
	<a href="<%= locals.value.object._all_menu_gauche.menuS.lien0.href %>" title="<%= locals.value.object._all_menu_gauche.menuS.lien0.title %>" class="" data-link=""><i class="icon asterisk"></i> <%= locals.value.object._all_menu_gauche.menuS.lien0.html %></a>		
</footer>